@font-face {
	font-family: OurCalibri;
	src: url(../others/Calibri.ttf);
}

* {
	font: 14px Calibri, OurCalibri, Arial;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

#logo {
	float: left;
}

a {
	color: #13486C;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.title {
	font-weight: normal;
	font-style: normal;
	color: white;
	text-decoration: none;
}

#casellaDiTesto {
	width: 100%;
	resize: vertical;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 white;
	border: 1px solid #CCC;
}

#casellaDiTesto:focus {
	border-color:#56b4ef;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

.centroPagina {
	text-align: left;
	padding: 1em 10px 0;
	margin-bottom: 0;
	margin-left: 250px;
	margin-right: 250px;
}

.barraLaterale {
	vertical-align: top;
	line-height: 10px;
}

#menuSinistra {
	float:left;
	width:220px;
	padding: 1em 0 0 10px;
}

#menuDestra {
	float:right; 
	width:220px;
	padding: 1em 10px 0 0;
}

#pagina {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

header {
	background-image: -moz-linear-gradient(90deg, #13486C 0%, #2D72A0 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#13486C), to(#2D72A0));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 10px;
	color: white;
	margin-bottom: 10px;
	text-indent: 10px;
}

.blockTitle {
/*	background: url(../images/blockTitle.png) no-repeat;*/
	text-indent: 10px;
	line-height: 2em;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#B0D0E3), to(#75B0D0));
	background-image: -moz-linear-gradient(90deg, #B0D0E3 0%, #75B0D0 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	width:220px;
}

.form {
	margin-bottom: 10px;
}

#barraRicerca {
	width: 80%;
/*	color: #13486C;*/
	color: white;
}

.searchBorder {
	padding-top: 10px;
	padding-bottom: 0px;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border-radius: 5px;
/*	border: 1px solid #13486C;*/
/*	color: #13486C;*/
	border: 1px solid white;
	color: white;
}

#barraRicerca::-webkit-input-placeholder {
	color: rgba(18, 71, 108, 0.5);
}

.libro {
	color: black;
	text-align: justify;
}

#login {
	vertical-align: middle;
	padding: 30px;
	width: 250px;
}

#imgIndietro {
	float: left;
	cursor: pointer;
	width: 30px;
	padding: 1em 0 0 10px;
}

#imgAvanti {
	float: right;
	cursor: pointer;
	width: 30px;
	padding: 1em 10px 0 0;
}

#paginaAttualeDiv {
	padding: 1em 10px 0;
	margin-bottom: 0;
	margin-left: 40px;
	margin-right: 40px;
}

#paginaAttuale {
	text-align: justify;
}

footer {
	clear: both;
}

.search {
	float: right;
	padding: 20px;
	width: 220px;
	margin-top: 50px;
}